

.sebm-google-map-container {
  height: 100vh;
  width: inherit;
  
}

/* copy of bootstrap container fluid with padding on left and right reduced to 0 */ 
.container-fluid-jn {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;

}

.top-bar {
    position:absolute;
    float:right;
    display:block;
    top:0;
    z-index:1000;
    background:black;
    min-height:75px;
    width: 100vw;
    opacity: 0.4;
    box-shadow: 0px 3px 3px #111;
    

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}