<div class="top-bar">
    <span >
            <!--<p>{{animalData[0].properties.Intake_Date}}</p>-->
           <!-- <p>{{animalData[0].properties.Animal_Name}}</p>-->
        </span>
</div>
<div class="container-fluid-jn">
    <div class="row">
    <div class="col-xs-12">
       <div id="gmap"></div>
       <sebm-google-map [latitude]="lat" [longitude]="lng" [styles]="styles">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
    
</div>